*{
    font-family: Arial, Helvetica, sans-serif;
}

@media all and (max-width: 3000px) {
    html {
        font-size: 20px;
    }
    #socialMedias{
        left:87%;
    }
    #luggage{
        flex-direction: row;
    }
    #main,#hand{
        width:20vw;
        height:60vh;
    }
    .articleImage{
        width:40%;
        height:auto
    }
    .articleContent{
        flex-direction: row;
    }
    .articleText{
        margin:30px;
    }
}



@media all and (max-width: 1200px) {
    html {
        font-size: 12px;
    }
    #enter{
        display:none;
    }
    #socialMedias{
        left:81%;
    }
    #luggage{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #main,#hand{
        width:90vw;
        height:30vh;
        margin:1rem;
    }
    .articleContent{
        flex-direction: column;
    }
    .articleImage{
        width:90%;
        height:auto
    }
    .articleText{
        margin:10px;
    }
}
html{
    scroll-behavior: smooth;
}
#mainBody{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0 auto;
    overflow: hidden;
    align-items: center;
}
body{
    background-image: url("https://images.pexels.com/photos/417045/pexels-photo-417045.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    margin:0;
    padding:0;
    background-attachment: fixed;
}
#navbar{
    display:flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height:10%;
    width:80%;
    background-color: rgba(255,255,255,0.7);
    top:35%;
    box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.75);
}
#socialMedias{
    display:flex;
    justify-content: flex-end;
}
#enter{
    position: absolute;
    left:70%;
    height:3vh;
}
#slideMenu{
    color:white;
}
#menu{
    display:flex;

}
#menuImg{
    width:50px;
}
#search{
    height:40%;
    width:60%;
    text-align:center;
    opacity: 0.8;
}
#luggage{
    display:none;
    width:100%;
    height:60vh;
    padding-top:25vh;
}
#main,#hand{
    display:flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.75);
    flex:2;
    text-align: center;
    align-items:center;
    justify-content: space-around;
   
}
#ad{
    height:100px;
    border:1px solid black;
    text-align: center;
    
}
#flags{
    display:flex;
    justify-content: space-around;
}
#flags img{
    width:4vh;
    padding:3px;
}
#footer{
    background-color:black;
    color:white;
    text-align: center;
    font-size:0.7em;
    font-style: italic;
    position: absolute;
    top:93vh;
    height:7vh;
    margin:0;
    padding:0;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#mainCheck,#handCheck{
    width:12vw;
    max-width:300px;
}
#adLeft,#adMid,#adRight{
    display:flex;
    flex:1;
}
.topNavbar{
    animation: slide 1s ease;
    animation-fill-mode: forwards;
}
.luggageAppearAnim{
    animation: luggageAppear 1s ease;
    animation-fill-mode: forwards;
}
.colorChangeAnim{
    animation: changeColor 1s ease;
    animation-fill-mode: none;
}
#socialMedias img{
    width:4vh;
    display:flex;
    padding-right:0.5vh;
}
.warning{
    background-color: rgba(255,255,255,0.7);
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/OOjs_UI_icon_info.svg/1200px-OOjs_UI_icon_info.svg.png");
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.75);
    position: absolute;
    left:0;
    top:0;
    font-size:0.8rem;
    height:50px;
    width:50px;
    border-radius: 0 20px 20px 0;
    text-align: center;
    padding:10px;
    z-index:1;
    overflow: hidden;
    display:none;
}
.warningSlideAnim{
    animation: warningSlide 1s ease;
    animation-fill-mode: forwards;
}
.warningBackSlideAnim{
    animation: warningBackSlide 1s ease;
    animation-fill-mode: forwards;
}
#siteBody{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width:100vw;
    margin:0;
    padding:0;
    justify-content: space-between;
}
.header{
    width:100%;
    background-color: rgba(255,255,255,0.7);
    box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.75);
    display:flex;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    z-index:1;
}
#articleSection{
    width:80vw;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.articleBody{
    background-color: rgba(255,255,255,0.7);
    padding:20px;
    text-align: justify;
    margin-bottom: 50px;
    font-size:1em;
    box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.75);
}
.articleText{
    text-align:justify;
    font-size:0.9em;
}
.articleHeader{
    font-size:1.2em;
}
.articleContent{
    display:flex;
    justify-content: space-around;
}

.articleImage{
    box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.75);
    margin:20px;
}
.headerElem{
    height:50%;
    color:black;
    text-decoration: none;
    font-size:1.1rem;
    font-style: italic;
    transition:0.2s ease-out;
    width: 150px;
    padding:10px;
    border-radius: 10px;
}
.headerElem:hover{
    font-weight: bold;
}
h1{
    font-size:2rem;
}
.fadeOutAnim{
    animation: fadeOut 1s ease;
    animation-fill-mode: forwards;
}

@keyframes slide {
    100% {
      top: 10%;
    }
  
}
@keyframes luggageAppear{
    0%{
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}
@keyframes fadeOut{
    0%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}
@keyframes changeColor{
    0%{
        opacity: 1;
    }
    40%{
        opacity:0;
    }
    60%{
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}
@keyframes warningSlide{
    0%{
        width:50px;
    }
    100%{
        width:50%;
    }
}
@keyframes warningBackSlide{
    0%{
        width:50%;
    }
    100%{
        width:50px;
    }
}
#handInfo, #mainInfo{
    font-weight: bold;
    font-size:1.9vw;
}
#mainInfo{
    opacity:0;
}